.dropdown {
	position: absolute;
	top: 0;
	padding: 48px 59px;
	background-color: var(--background-white);
	border: 2px solid #d9d9d9;
	border-radius: 12px;
	visibility: hidden;
	opacity: 0;
	z-index: 10;
	transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.dropdown_sort {
	left: 0;
}

.dropdown_location {
	right: 0;
}

.dropdown_options {
	left: -211px;
}

.dropdown_open {
	visibility: visible;
	opacity: 1;
}

.dropdown__form {
	width: 200px;
}

.dropdown__fieldset {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-bottom: 24px;
}

.dropdown__fieldset_options {
	gap: 20px;
}

.dropdown__title {
	margin-bottom: 24px;
	font-family: var(--TTTravels-Demibold);
	font-size: 24px;
	color: var(--color-black);
}

.dropdown__label {
	position: relative;
	width: max-content;
	display: flex;
	align-items: center;
	font-family: var(--TTTravels-Medium);
	font-size: 20px;
	color: var(--color-black);
	padding-left: 20px;
	cursor: pointer;
}

.dropdown__input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position: absolute;
	width: 14px;
	height: 14px;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	/* background-color: #fff; */
	border: 2px solid #000;
	border-radius: 4px;
	cursor: inherit;
}

.dropdown__input::after {
	content: '';
	position: absolute;
	inset: 0;
	display: block;
	/* background: url(../images/check.svg) no-repeat center; */
	opacity: 0;
	transition: opacity 0.3s;
}

.dropdown__input:checked::after {
	opacity: 1;
}

.dropdown__input:focus-visible {
	outline: none;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.dropdown__input:hover:not(:disabled) {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.dropdown__input:disabled {
	background-color: #ccc;
}

.dropdown__submit {
	width: 100%;
	height: 38px;
	padding: 0 10px;
	border: 3px solid var(--color-black);
	border-radius: 12px;
	font-family: var(--TTTravels-Demibold);
	font-size: 15px;
	text-transform: capitalize;
	color: var(--color-black);
}

.dropdown_sort-btn {
	font-weight: 600;
	font-size: 20px;
	color: var(--color-black);
	text-align: start;
}

/* ! locations select */
.choices {
	width: 200px;
	margin-bottom: 0;
}

.choices[data-type*='select-one']::after {
	position: absolute;
	top: 45%;
	right: 8px;
	width: 5px;
	height: 5px;
	border: 1px solid var(--color-black);
	border-width: 0 0 1px 1px;
	transform: rotate(-45deg);
	transition: transform 0.5s ease-in-out;
}

.choices[data-type*='select-one'].is-open::after {
	top: 65%;
	border: 1px solid var(--color-black);
	border-width: 0 0 1px 1px;
	transform: rotate(-225deg);
	z-index: 3;
}

.choices[data-type*='select-one'] .choices__inner {
	padding: 3px 5px;
}

.choices__inner {
	position: relative;
	border: 2px solid var(--color-black);
	min-height: 27px;
	border-radius: 6px;
	font-family: var(--TTTravels-Medium);
	font-size: 16px;
}

.is-focused .choices__inner {
	border-color: var(--color-black);
}

.is-open .choices__inner {
	border: 2px solid var(--color-black);
	border-radius: 6px;
	z-index: 2;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
	top: calc(100% - 10px);
	padding-top: 10px;
}

.choices__list--single {
	padding: 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
	border: 2px solid var(--color-black);
	border-radius: 0 0 6px 6px;
	word-break: normal;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
	border-color: var(--color-black);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
	padding: 3px 10px;
	padding-right: 12px;
	font-family: var(--TTTravels-Demibold);
	font-size: 14px;
}
