.dropdown {
	position: absolute;
	top: 0;
	left: 0;
	padding: 48px 59px;
	background-color: var(--background-white);
	border: 2px solid #d9d9d9;
	border-radius: 12px;
	visibility: hidden;
	opacity: 0;
	z-index: 1000;
}

.dropdown_open {
	visibility: visible;
	opacity: 1;
}

.dropdown__list {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 200px;
}

.dropdown__item {
	font-weight: 600;
	font-size: 20px;
	color: var(--color-black);
}

.dropdown__sort-btn {
}
