.header {
	padding: 35px 0;
	border-bottom: 4px solid var(--color-green);
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 23px;
	margin-bottom: 24px;
}

.header__logo {
	width: 142px;
	height: 90px;
	flex-shrink: 0;
}

.header__form {
	position: relative;
	width: 100%;
	max-width: 623px;
	height: 58px;
}

.header__form-input {
	width: 100%;
	height: inherit;
	padding: 5px 45px 5px;
	padding-right: 150px;
	border: 3px solid var(--color-green);
	border-radius: 12px;
}

.header__form-btn {
	position: absolute;
	right: 45px;
	top: 50%;
	transform: translateY(-50%);
}

.header__form-btn_search {
	width: 24px;
	height: 24px;
}

.header__login-buttons {
	display: flex;
	gap: 23px;
}

.header__login-btn {
	height: 58px;
	padding: 0 31px;
	border: 3px solid transparent;
	border-radius: 12px;
	font-size: 15px;
}

.header__login-btn_registration {
	width: 236px;
	background-color: var(--color-green);
	color: var(--color-white);
}

.header__login-btn_signin {
	width: 140px;
	border-color: var(--color-green);
}

.header__actions {
	display: flex;
	align-items: center;
	gap: 35px;
}

.header__action {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.header__action-location,
.header__action-favorite,
.header__action-chat,
.header__action-reverse {
	width: 24px;
	height: 24px;
}

.header__action-reverse {
	display: none;
}

.reverse-active {
	display: block;
}

.header__action_language {
	font-size: 26px;
	letter-spacing: -0.06em;
	text-transform: lowercase;
}

/* ! dropdown */
.header__action-location-inner {
	position: relative;
}

.header__navigation-list {
	gap: 20px;
}

/* .header__navigation-item {
}

.header__navigation-link {
} */
