html {
	scroll-behavior: smooth;
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	/* ! Fonts */
	--TTTravels-DB: 'TTTravels-Demibold', sans-serif;
	--TTTravels-Medium: 'TTTravels-Medium', sans-serif;
	--TTTravels-Regular: 'TTTravels-Regular', sans-serif;
	--TTTravels-Light: 'TTTravels-Light', sans-serif;

	/* ! colors */
	--background-white: #fff;
	--background-black: #121412;
	--color-white: #fff;
	--color-black: #000;
	--color-green: #009b2b;
}

body {
	min-width: 320px;
	font-family: var(--TTTravels-DB);
	font-size: 24px;
	line-height: 1.2;
	background-color: var(--background-white);
	color: var(--color-black);
}

img,
svg {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;
	color: inherit;
	outline: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
p {
	margin: 0;
	padding: 0;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

input {
	outline: none;
	border: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type='number'],
input[type='number']:hover,
input[type='number']:focus {
	appearance: none;
	-moz-appearance: textfield;
}

.visually-hidden {
	position: fixed;
	transform: scale(0);
}

.body_fixed {
	overflow: hidden;
}

.container {
	max-width: 1570px;
	padding: 0 65px;
	margin: 0 auto;
}

.green-color {
	color: var(--color-green);
}

/* 
@media (min-width: 1441px) {
	! стили для адаптива к 4к
}

@media (max-width: 1200px) {
	! стили для адаптива к мобилке
} 
*/
