{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="shortcut icon" href="{% static "img/logo-B.png" %}">

		<title>{% block title %}{% endblock title %}</title>

		<link rel="stylesheet" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" href="{% static 'css/header.css' %}" />
		<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
		<link rel="stylesheet" href="{% static 'css/navigation.css' %}" />
		<link rel="stylesheet" href="{% static 'css/popup.css' %}" />

		{% block links %}{% endblock links %} {% block js %}{% endblock js %}
	</head>
	<body>
		<header class="header">
			<div class="container">
				<div class="header__top">
					<a href="/" class="header__logo" aria-label="logo">
						<img
							class="header__logo-image"
							src="{% static 'img/logo-W.png' %}"
							alt="logo for 'Avakam'"
						/>
					</a>

					<form class="header__form">
						<input class="header__form-input" type="text" placeholder="Найти" />
						<button
							id="js-main-search-products"
							class="header__form-btn header__form-btn_search"
							type="button"
							aria-label="seach"
						>
							<svg class="header__form-btn-search">
								<use xlink:href="{% static 'img/sprite.svg' %}#search-icon" />
							</svg>
						</button>
					</form>

					<div class="header__login-buttons">
						<button
							class="header__login-btn header__login-btn_registration"
							aria-label="sign up"
						>
							Зарегестрироваться
						</button>
						<button
							class="header__login-btn header__login-btn_signin"
							aria-label="sign in"
						>
							Войти
						</button>
					</div>

					<div class="header__actions">
						<button class="header__action" aria-label="location">
							<svg class="header__action-location">
								<use xlink:href="{% static 'img/sprite.svg' %}#location-icon" />
							</svg>
						</button>
						<a class="header__action" href="#" aria-label="favorite products">
							<svg class="header__action-favorite">
								<use xlink:href="{% static 'img/sprite.svg' %}#favorite-icon" />
							</svg>
						</a>
						{% comment %}
						<a class="header__action" href="#" aria-label="chat with seller">
							<svg class="header__action-chat">
								<use xlink:href="{% static 'img/sprite.svg' %}#chat-icon" />
							</svg>
						</a>
						{% endcomment %}
						<button
							class="header__action"
							aria-label="change color theme of the website"
						>
							<svg class="header__action-reverse reverse-active">
								<use xlink:href="{% static 'img/sprite.svg' %}#moon-icon" />
							</svg>
							<svg class="header__action-reverse">
								<use xlink:href="{% static 'img/sprite.svg' %}#sun-icon" />
							</svg>
						</button>
						<button
							class="header__action header__action_language"
							aria-label="change language of the website"
						>
							ru
						</button>
					</div>
				</div>

				<nav class="header__navigation navigation">
					<ul class="header__navigation-list navigation__list">
						<li class="header__navigation-item navigation__item">
							<a
								class="header__navigation-link navigation__link"
								href="#"
								aria-label="advertising on the site"
							>
								Реклама на сайте
							</a>
						</li>
						<li class="header__navigation-item navigation__item">
							<a
								class="header__navigation-link navigation__link"
								href="#"
								aria-label="business on Avakam"
							>
								Поддержка
							</a>
						</li>
						<li class="header__navigation-item navigation__item">
							<a
								class="header__navigation-link navigation__link"
								href="#"
								aria-label="premium subscription"
							>
								Бизнес на Avakam
							</a>
						</li>
						<li class="header__navigation-item navigation__item">
							<a
								class="header__navigation-link navigation__link"
								href="#"
								aria-label="rules"
							>
								Правила
							</a>
						</li>
						<li class="header__navigation-item navigation__item">
							<a
								class="header__navigation-link navigation__link"
								href="#"
								aria-label="about us"
							>
								О нас
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>

		{% block main %} {% endblock main %}

		<footer class="footer">
			<div class="container">
				<div class="footer__social-inner social">
					<ul class="social__list" aria-label="our social networks">
						<li class="social__item">
							<a
								class="social__link"
								href="#"
								aria-label="facebook"
								target="_blank"
							>
								<svg class="social__svg">
									<use
										xlink:href="{% static 'img/sprite.svg' %}#facebook-icon"
									/>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a
								class="social__link"
								href="#"
								aria-label="instagram"
								target="_blank"
							>
								<svg class="social__svg">
									<use
										xlink:href="{% static 'img/sprite.svg' %}#instagram-icon"
									/>
								</svg>
							</a>
						</li>
						<li class="social__item">
							<a
								class="social__link"
								href="#"
								aria-label="youtube"
								target="_blank"
							>
								<svg class="social__svg">
									<use
										xlink:href="{% static 'img/sprite.svg' %}#youtube-icon"
									/>
								</svg>
							</a>
						</li>
					</ul>
				</div>

				<div class="footer__navigation-inner navigation">
					<ul
						class="footer__navigation-list navigation__list"
						aria-label="site navigation"
					>
						<li class="footer__navigation-item navigation__item">
							<a
								class="footer__navigation-link navigation__link"
								href="#"
								aria-label="help"
								target="_blank"
							>
								Помощь
							</a>
						</li>
						<li class="footer__navigation-item navigation__item">
							<a
								class="footer__navigation-link navigation__link"
								href="#"
								aria-label="advertising on the site"
								target="_blank"
							>
								Реклама на сайте
							</a>
						</li>
						<li class="footer__navigation-item navigation__item">
							<a
								class="footer__navigation-link navigation__link"
								href="#"
								aria-label="about of the company"
								target="_blank"
							>
								О компании
							</a>
						</li>
						<li class="footer__navigation-item navigation__item">
							<a
								class="footer__navigation-link navigation__link"
								href="#"
								aria-label="premium subscription"
								target="_blank"
							>
								Премиум подписка
							</a>
						</li>
					</ul>
				</div>

				<div class="footer__contacts-inner contacts">
					<ul class="contacts__list" aria-label="contacts">
						<li class="contacts__item">
							<a
								class="contacts__link"
								href="mailto:SellPlace@gmail.com"
								aria-label="email"
								target="_blank"
							>
								<svg class="contacts__svg">
									<use xlink:href="{% static 'img/sprite.svg' %}#mail-icon" />
								</svg>
								SellPlace@gmail.com
							</a>
						</li>
						<li class="contacts__item">
							<a
								class="contacts__link"
								href="tel:+375403993028"
								aria-label="tel number"
								target="_blank"
							>
								<svg class="contacts__svg">
									<use xlink:href="{% static 'img/sprite.svg' %}#phone-icon" />
								</svg>
								+375403993028
							</a>
						</li>
						<li class="contacts__item">
							<a
								class="contacts__link"
								href="#"
								aria-label="address"
								target="_blank"
							>
								<svg class="contacts__svg">
									<use
										xlink:href="{% static 'img/sprite.svg' %}#address-icon"
									/>
								</svg>
								адрес
							</a>
						</li>
					</ul>
				</div>
			</div>
		</footer>

		<script>
			// Проверяем тему браузера: тёмная или светлая
			const userTheme = window.matchMedia('(prefers-color-scheme: dark)')
				.matches
				? 'dark'
				: 'light';

			// Сохраняем тему в cookie
			document.cookie = `theme=${userTheme}; path=/; SameSite=Lax`;
		</script>
	</body>
</html>
