{% extends "base.html" %} 
{% load static %} 

{% block title %}Avakam - not founded{% endblock title %} 

{% block links %}
<link rel="stylesheet" href="{% static 'css/listing/listing_not_found.css' %}" />
{% endblock links %} 

{% block js %}
{% endblock js %} 

{% block main %}
<main class="main">
	<div class="not-found__inner">
		<h1 class="not-found__title">Объявления не были найдены :(</h1>
		<p class="not-found__desc">
			К сожалению, по вашему запросу ничего не было найдено, попробуйте преформулировать запрос
		</p>
	</div>
</main>
{% endblock main %}
