.not-found__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 40px;
	width: 100%;
	height: calc(100dvh - 140px);
}

.not-found__title {
	max-width: 1200px;
	font-family: var(--TTTravels-DB);
	font-size: 64px;
	color: var(--color-black);
}

.not-found__desc {
	max-width: 1200px;
	font-family: var(--TTTravels-DB);
	font-size: 36px;
	text-align: center;
	color: var(--color-black);
}
